{% load static %}{% load html_helpers %}{% load op_helpers %}{% load parametros_helpers %}<!doctype html>
<html lang="es">
    <head>

        <meta http-equiv="Expires" content="Fri, Jan 01 1900 00:00:00 GMT" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Lang" content="es-mx" />
        <meta name="author" content="Rubén Ramírez Gómez RAGR8602025L7 rramirez@rramirez.com" />
        <meta http-equiv="Reply-to" content="rramirez@rramirez.com" />
        <meta name="creation-date" content="2020-02-02" scheme="YYYY-MM-DD" />
        <meta name="revisit-after" content="15 days" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title>{% parametro_de_sistema seccion='SitioGeneral' nombre='site_title' %}</title>

        <link rel="icon" href="{{ MEDIA_URL }}{% parametro_de_sistema seccion='SitioGeneral' nombre='favicon' %}" type="image/png" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
        <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

        <!-- generate_get_css_apps -->
        {% generate_get_css_apps %}
        <!-- requiere_ui_css -->
        {% requiere_ui_css %}

        <script type="text/javascript">
			let BASE_URL = '//{{ request.get_host }}';
			let profile_url = '{% url "user_me" %}';
        </script>

        <script type="text/javascript">
            console.log("loged user is {{ user }}")
        </script>

    </head>
    <body class="text-secondary">

        <!-- main_menu.html -->
        {% include "zend_django/menuopc/main_menu.html" %}
        <!-- - main_menu.html -->
        {% parametro_de_usuario seccion='general' nombre='open_left_menu' username=user as menu_abierto %}
        {% parametro_de_sistema seccion='SitioGeneral' nombre='left_bar_width' as ancho_barra_menu %}

        {% if menu_abierto == "True" %}

        <div class="bs-offset-main bs-canvas-anim" style="margin-left: {{ ancho_barra_menu }}px;">

        {% else %}

        <div class="bs-offset-main bs-canvas-anim">

        {% endif %}

        <!-- Mensajes de Sistema -->
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% else %}
                    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                {% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <!-- html_struct/extraaftermain -->
        {% block extraaftermain %}
        {% endblock%}
        <!-- html_struct/extraaftermain end -->

        <div style="padding: 1rem;">

            {% if toolbar %}
                <!-- html_struct/toolbal.html -->
                {% include "zend_django/html/toolbar.html" %}
                <!-- html_struct/toolbal.html end -->
            {% endif %}

            {% if titulo %}
                <h1 id="main-title-page" class="d-none">
					{{ titulo | safe }}

					{% if titulo_descripcion %}
						<small class="text-muted">
							{{ titulo_descripcion | safe }}
						</small>
					{% endif %}

				</h1>
            {% endif %}

            <!-- Templates Iniciales -->
            {% if include_iniciales %}
                {% incluir_inciales_app %}
            {% endif %}

            <!-- html_struct/extrabefore -->
            {% block extrabefore %}
            {% endblock%}
            <!-- html_struct/extrabefore end -->

            <!-- html_struct/content -->
			{% block content %}
            {% endblock %}
            <!-- html_struct/content end -->

            <!-- html_struct/extraafter -->
			{% block extraafter %}
            {% endblock %}
            <!-- html_struct/extraafter end -->

        </div>

        {% verbatim %}
            <script type="text/x-handlebars-template" id="modal-panel-message-template">
                <div id="{{#if idmodal}}{{idmodal}}{{else}}modal-panel-message{{/if}}" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            {{#if title}}
                            <div class="modal-header">
                                {{#if title}}
                                <h5 class="modal-title">{{title}}</h5>
                                {{/if}}
                                {{#if close}}
                                <button data-action="close-modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{/if}}
                            </div>
                            {{/if}}
                            {{#if body}}
                            <div class="modal-body">
                                {{{body}}}
                            </div>
                            {{/if}}
                            {{#if footer}}
                            <div class="modal-footer">
                                {{footer}}
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </script>
            <script type="text/x-handlebars-template" id="deleting-confirmation-template">
                <span class="float-left"><i class="fas fa-exclamation-triangle fa-2x"></i></span>
                ¿Confirma que realmente desea eliminar {{pre_elemento}} {{elemento}}?
                <div class="row">
                    <div class="col-sm-6 text-center" style="color: white">
                        <a data-action="confirm-delete" href="{{url}}" class="btn btn-outline-secondary" {% endverbatim %} title="{% action_label 'ok' %}">
                            {% action_icon 'ok' %} {% action_label 'ok' %}
                        </a>
                    </div>
                    <div class="col-sm-6 text-center">
                        <button data-action="cancel-delete" data-dismiss="modal" type="button" class="btn btn-outline-secondary" title="{% action_label 'cancel' %}">
                            {% action_icon 'cancel' %} {% action_label 'cancel' %}
                        </button>
                    </div>
                </div>
            </script>

        {% if True == footer %}
            <!-- html_struct/footer.html -->
            {% include "zend_django/html/footer.html" %}
            <!-- html_struct/footer.html end -->
        {% endif %}

        <!-- Herramientas Externas -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/f55fffcff6.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.3/handlebars.min.js" integrity="sha256-/PJBs6QWvXijOFIX04kZpLb6ZtSQckdOIavLWKKOgXU=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

        <!-- generate_get_js_apps -->
        {% generate_get_js_apps %}

        <!-- requiere_ui_js -->
        {% requiere_ui_js %}

		{% if req_chart %}
		    <script type="text/javascript" src="{% static 'api/js/chart-272.min.js' %}"></script>
        {% endif %}

        <script type="text/javascript">
            $( document ).ready( () => {

                {% if read_only %}
                    App.setReadOnlyForm();
                {% endif %}
            } );

        </script>

        {% if alertas %}
        <script type="text/javascript">
            let alerta = {{ alertas|safe }};
            if( alerta.length > 0 ) {
                alerta = alerta.join('<br />');
                alerta = `<span class="align-middle"><i class="fas fa-exclamation-triangle fa-3x"></i></span> ${alerta}`;
                App.openPanel(alerta, "Error:");
            }
        </script>
        {% endif %}

        </div>

    </body>
</html>
