{% extends "zend_django/html/html_struct.html" %}

{% block content %}

{% for migracion in migraciones %}

{% if migracion.result == 'ok' %}
    <div class="alert alert-success" role="alert">
{% elif migracion.result == 'previo' %}
    <div class="alert alert-secondary" role="alert">
{% else %}
    <div class="alert alert-warning" role="alert">
{% endif %}
    <div class="row">
        <div class="col-sm-4">
            {{ migracion.file }}
        </div>
        <div class="col-sm-8">
            {% if migracion.result == 'ok' %}
                Aplicado correctamente
            {% elif migracion.result == 'previo' %}
                Aplicado previamente
            {% else %}
                {{ migracion.result }}
            {% endif %}
        </div>
    </div>
</div>

{% endfor %}

{{ notas|safe }}

{% endblock %}
