{% extends "zend_django/html/html_struct.html" %}
{% load i18n %}
{% load op_helpers %}

{% block content %}

<table class="table table-striped table-sm table-responsive-md">
    <thead>
        <tr>
            <th>Permiso</th>
            <th>Tipo</th>
            <th>Código</th>
            <th colspan="3" class="text-center">
                {% if perms.auth.add_permission %}
                <a data-action="create" href="{% url 'permission_create' %}" class="btn btn-outline-secondary" role="button" title="{% crud_label 'create' %}">
                    {% crud_icon 'create' %} {% crud_label 'create' %}
                </a>
                {% endif %}
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Permiso</th>
            <th>Tipo</th>
            <th>Código</th>
            <th colspan="3" class="text-center">
                {% if perms.auth.add_permission %}
                <a data-action="create" href="{% url 'permission_create' %}" class="btn btn-outline-secondary" role="button" title="{% crud_label 'create' %}">
                    {% crud_icon 'create' %} {% crud_label 'create' %}
                </a>
                {% endif %}
            </th>
        </tr>
    </tfoot>
    <tbody id="data-tbl">
        {% for reg in data %}
            <tr data-object-id="{{ reg.pk }}">
                <td>{{ reg.name }}</td>
                <td>{% language 'en' %}{{ reg.content_type }}{% endlanguage %}</td>
                <td>{{ reg.codename }}</td>
                <td class="text-center">
                    {% if perms.auth.view_permission %}
                    <a data-action="read" href="{% url 'permission_read' pk=reg.pk %}" class="btn btn-outline-secondary" role="button" title="{% crud_label 'read' %}">
                        {% crud_icon 'read' %}
                    </a>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if perms.auth.change_permission %}
                    <a data-action="update" href="{% url 'permission_update' pk=reg.pk %}" class="btn btn-outline-secondary" role="button" title="{% crud_label 'update' %}">
                        {% crud_icon 'update' %}
                    </a>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if perms.auth.delete_permission %}
                    <button data-action="delete" onclick="App.showDeletingConfirmation(`{% url 'permission_delete' pk=reg.pk %}`, `permiso`)" type="button" class="btn btn-outline-secondary" title="{% crud_label 'delete' %}">
                        {% crud_icon 'delete' %}
                    </button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}