/*
CSS file for zend_django app
*/

/* Main Menu */
nav#main-menu {
    margin-bottom: 15px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* Parametros de Sistema */

#main-form-parametrosistema img {
    max-width: 500px;
    max-height: 500px;
    border: 1px solid silver;
}

/* form Login */

form.form-signin {
    width: 100%;
    max-width: 480px;
    padding: 25px;
    margin: auto;
    border: 1px solid #e0e6ed;
    border-radius: .15px;
    box-shadow: 0 4px 6px 0 rgb(85 85 85 / 9%), 0 1px 20px 0 rgb(0 0 0 / 8%), 0px 1px 11px 0px rgb(0 0 0 / 6%);
}
div.body-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
    z-index: -10;
}
form.form-signin label{
    display: block;
    text-align: left;
    text-transform: uppercase;
    font-size: 0.75rem;
}

/* Teresita updates */
#top-main-menu a.navbar-brand {
    margin-left: 1rem;
}
#main-menu button.btn-sm {
    padding: 0.075rem 0.5rem;
}
#bs-canvas-left {
    width: 0;
}
.bs-canvas-overlay {
   opacity: 0;
   z-index: -1;
}
.bs-canvas-overlay.show {
   opacity: 0.85;
   z-index: 1100;
}
.bs-canvas {
   top: 0;
   width: 0;
   z-index: 1110;
   overflow-x: visible;
   overflow-y: auto;
}
.bs-canvas-left {
   left: 0;
}
.bs-canvas-right {
   right: 0;
}
.bs-canvas-anim {
   transition: all .4s ease-out;
   -webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
   -ms-transition: all .4s ease-out;
}

#finder {
    border: 1px solid silver;
    border-radius: 38px;
}
#finder input.form-control {
    border: none;
    background-color: transparent;
    width: 200px;
    transition: width 1s ease-in;
}
#finder input.form-control:focus {
    width: 550px;
}
#finder button {
    border: none;
    background-color: transparent;
}
#main-toolbar form.form-inline {
    display: none;
}

#bs-canvas-left hr {
    margin: 0;
    border: rgb(248, 249, 250) inset 1px;
}
#vertical-left-menu-content {
    min-height: 40%!important;
}

#data-grid-report a.main-col-link {
    color: rgb(33, 37, 41);
}
#data-grid-report a.main-col-link:hover {
    color: #0056b3;
}
.toggle.ios, .toggle-on.ios, .toggle-off.ios {
    border-radius: 20rem;
}
.toggle.ios .toggle-handle {
    border-radius: 20rem;
}

#bs-canvas-left header a{
    color: inherit;
}
#bs-canvas-left header a:hover{
    text-decoration: unset;
}
#bs-canvas-left header button.close {
    font-size: inherit;
}

#data-grid-report tfoot{
    display: none;
}

.btn.btn-outline-secondary,
.btn.btn-outline-light,
.btn.btn-outline-primary{
    border: none;
}

#main-navbar-title {
    margin-left: 1rem;
    transition: all .4s ease-out;
   -webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
   -ms-transition: all .4s ease-out;
}

#eff-arrow {
    border: rgba(0, 0, 0, 0.15) 1px;
    border-style: solid none none solid;
    background-color: #ffffff;
    transform: rotate(45deg);
    position: absolute;
    width: 20px;
    height: 20px;
    top: -11px;
    right: 10px;
}
#btn-extra-actions:after {
    content: none;
}
#cntr-extra-actions {
    margin-top: 20px;
}

#cntr-extra-actions .dropdown-submenu.dropleft ul.dropdown-menu {
    left: unset;
}

.table_zd {
    color: inherit;
    border-collapse: separate;
    border-spacing: 5px;
}

.table_zd thead th {
    color: #212529;
    background-color: #e8ebf4;
}

/**** Horizontal Forms */

form#main-form .custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba(123, 123, 123, 0.5);
    border-color: rgba(123, 123, 123, 0.5);
}

form#main-form .custom-control-input:checked~.custom-control-label::before {
    background-color: rgba(123, 123, 123, 1);
    border-color: rgba(123, 123, 123, 1);
}
