/*
CSS file for zend_django app
*/

/* Main Menu */
nav#main-menu {
    margin-bottom: 15px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* Parametros de Sistema */

#main-form-parametrosistema img {
    max-width: 500px;
    max-height: 500px;
    border: 1px solid silver;
}

/* form Login */

form.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
div.body-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f5f5f5;
    z-index: -10;
}

/* Teresita updates */
#top-main-menu a.navbar-brand {
    margin-left: 1rem;
}
#main-menu button.btn-sm {
    padding: 0.075rem 0.5rem;
}
#bs-canvas-left {
    width: 0;
}
.bs-canvas-overlay {
   opacity: 0;
   z-index: -1;
}
.bs-canvas-overlay.show {
   opacity: 0.85;
   z-index: 1100;
}
.bs-canvas {
   top: 0;
   width: 0;
   z-index: 1110;
   overflow-x: visible;
   overflow-y: auto;
}
.bs-canvas-left {
   left: 0;
}
.bs-canvas-right {
   right: 0;
}
.bs-canvas-anim {
   transition: all .4s ease-out;
   -webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
   -ms-transition: all .4s ease-out;
}

#finder {
    border: 1px solid silver;
    border-radius: 38px;
}
#finder input.form-control {
    border: none;
    background-color: transparent;
    width: 200px;
    transition: width 1s ease-in;
}
#finder input.form-control:focus {
    width: 550px;
}
#finder button {
    border: none;
    background-color: transparent;
}
#main-toolbar form.form-inline {
    display: none;
}

#data-grid-report a.main-col-link {
    color: rgb(33, 37, 41);
}
#data-grid-report a.main-col-link:hover {
    color: #0056b3;
}
.toggle.ios, .toggle-on.ios, .toggle-off.ios {
    border-radius: 20rem;
}
.toggle.ios .toggle-handle {
    border-radius: 20rem;
}
