{% extends "zend_django/html/html_struct.html" %}
{% load i18n %}
{% load op_helpers %}
{% load humanize %}

{% block content %}

<ul class="nav nav-tabs">
    {% if perms.app_valuacion_puestos.view_gp %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'app_vp_rep_gp' %}">Puntos</a>
    </li>
    {% endif %}
    {% if perms.app_valuacion_puestos.view_gp_pesos %}
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'app_vp_rep_gp_pesos' %}">Pesos</a>
    </li>
    {% endif %}
</ul>

    <canvas id="data-graph"></canvas>

    <script type="text/javascript">

    let data = {{ data|safe }};
    let grafico_typ = "PuestoPesos";
    </script>
{% endblock %}
