{% extends "zend_django/html/html_struct.html" %}
{% load i18n %}
{% load op_helpers %}
{% load humanize %}
{% load tablero_helpers %}

{% block content %}

<style type="text/css">
tr.space {
    height: 20px;
}
</style>

<div class="row">
    <div class="col-sm-8">
        <table class="table_zd table-sm table-responsive small">
            <thead>
                <tr>
                    <th></th>
                    <th>Cuenta</th>
                    <th>Descripción</th>
                    {% for anio in object.anios %}
                        <th>{{ anio }}<br/>Monto</th>
                        {% if anio != object.primer_anio and anio != object.ultimo_anio %}
                            <th>% Año<br />Ant</th>
                            <th>% Venta</th>
                        {% endif %}
                    {% endfor %}
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbl_ctas">
                {% for cta in object.cuentas_raiz %}
                    {% if cta %}
                        {% tablero_tr_cta cta=cta %}
                    {% else %}
                        <tr data-ctapadre="0" class="space"></tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col sm-4">
        <canvas id="data-graph-cta"></canvas>
    </div>
</div>

<script type="text/javascript">
    let open4cta = ctaid => {
        $(`#tbl_ctas tr[data-ctapadre="${ctaid}"]`).removeClass('d-none');
        $(`#open4cta${ctaid}`).addClass('d-none');
        $(`#close4cta${ctaid}`).removeClass('d-none');
    }
    let close4cta = ctaid => {
        $(`#tbl_ctas tr[data-ctapadre="${ctaid}"]`).addClass('d-none');
        $(`#open4cta${ctaid}`).removeClass('d-none');
        $(`#close4cta${ctaid}`).addClass('d-none');
        $(`#tbl_ctas tr[data-ctapadre="${ctaid}"]`).each((idx, fila)=>{
            close4cta(fila.id.replace('cta-',''));
        });
    }
    let periodos = {{ object.periodos_mensuales_json|safe }};
    let graph_object = null;
    let graficar = ctaid => {
        let totales = $(`#cta-${ctaid}`).data('per-total').map(dato => parseInt(dato));
        let promedios = $(`#cta-${ctaid}`).data('per-prom').map(dato => parseInt(dato));
        if(graph_object) {
            graph_object.destroy();
        }
        let context = document.getElementById('data-graph-cta').getContext('2d');
        graph_object = new Chart(context, {
            "type": "line",
            "data": {
                "options": {"scales": {"yAxes": [{"ticks": {"beginAtZero": true}}]}},
                "labels": periodos,
                "datasets": [{
                    "label": "Promedio",
                    "data": promedios,
                    "fill": false,
                    "borderColor": 'rgb(255, 99, 132)',
                    "backgroundColor": 'rgb(255, 99, 132)'
                }, {
                    "label": "Real",
                    "data": totales,
                    "fill": false,
                    "borderColor": 'rgb(75, 192, 192)',
                    "backgroundColor": 'rgb(75, 192, 192)'
                }]
            }
        });
    }
</script>

{% endblock %}
