{% extends 'zend_django/html/form.html' %}

{%  block extraafter %}

    <form>
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-8 offset-sm-2">
                        <a href="{% url 'estadisticoanual_list' pk=object.pk %}" class="btn btn-outline-secondary btn-lg btn-block">
                            Ver estadísticos anuales
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {% with data=object.detalle.all %}
        {% include 'app_tablero/estadistico/list.html' %}
    {% endwith %}

{% endblock %}
