{% extends "zend_django/html/html_struct.html" %}
{% load crispy_forms_tags %}
{% load op_helpers %}
{% load humanize %}

{% block content %}

<style type="text/css">
    /*div#div_id_estatus label {
        position: absolute;
        left: 0px;
    }*/
    div#div_id_estatus {
        /* border: red solid 1px;*/
    }
</style>

<!--
forms = {
    'top': [{'title':'XXXX', 'form': form_object}, ...],
    'left': [...],
    'right': [...],
    'bottom': [...],
}

-->

<form method="post" autocomplete="off" enctype="multipart/form-data" id="main-form" action="">
    {% csrf_token %}

    <div class="row">
        <div class="col-sm-8">
            <div id="div_id_puesto" class="form-group row">
                <label for="id_puesto" class="col-form-label col-sm-2 requiredField">
                    Puesto <span class="asteriskField">*</span>
                </label>
                <div class="col-sm-8">
                    <input type="text" name="puesto" value="{{ object.puesto }}" maxlength="200" class="textinput textInput form-control" required="" id="id_puesto" disabled="disabled" readonly="readonly" />
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-8">
                    <div id="div_id_estatus" class="custom-control custom-checkbox">
                        <label for="id_estatus">
                            Estatus
                        </label>
                        <input type="checkbox" name="estatus" class="action-on-reg input-reorder" id="id_estatus"
                            data-toggle= "toggle" data-size= "xs" data-onstyle= "secondary" data-style= "ios"
                            data-on= " " data-off= " " {% if object.estatus %}checked="checked"{% endif %} />
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<!-- Factores -->
<form method="post" autocomplete="off" enctype="multipart/form-data" id="grading-frm" action="">
    {% csrf_token %}
    <input type="hidden" id="califaction" name="califaction" value="" />
    <table class="table_zd table-sm table-responsive" style="margin-bottom: 25px;">
        <thead>
            <tr>
                <td></td>
                <td></td>
                <td id="cell_ponderacion_total" class="text-right">
                    <strong>{{ object.ponderacion_total|floatformat:0 }}</strong>
                </td>
                <td id="cell_ponderacion_en_pesos" class="text-right">
                    <strong>$ {{ object.ponderacion_total_en_pesos|floatformat:0 }}</strong>
                </td>
            </tr>
            <tr>
                <th>Factor</th>
                <th>Calificación</th>
                <th>Puntos</th>
                <th>Pesos</th>
            </tr>
        </thead>
        <tbody>
            {% for factor in factores %}
                <tr>
                    <td data-placement="right" data-toggle="tooltip" data-html="true" title="Niveles:{% for nivel in factor.niveles.all %}<br />{{ nivel.nivel_multiplicador }} - {{ nivel }}{% endfor %}">
                        {{ factor }}
                    </td>
                    <td>
                        {% if object.niveles_ponderacion.all %}
                            {% for p in object.niveles_ponderacion.all %}
                                {% if factor.pk == p.nivel.factor.pk %}
                                    <input data-factorid="{{ factor.pk }}" name="txt_factor_{{ factor.pk }}" id="txt_factor_{{ factor.pk }}" type="text" class="form-control" value="{{ p.nivel.nivel_multiplicador }}" min="{{ factor.min_nivel.nivel_multiplicador }}" max="{{ factor.max_nivel.nivel_multiplicador }}" onkeypress="updateCalificacion(event, $(this))" />
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <input data-factorid="{{ factor.pk }}" name="txt_factor_{{ factor.pk }}" id="txt_factor_{{ factor.pk }}" type="text" class="form-control" value="{{ factor.min_nivel.nivel_multiplicador }}" min="{{ factor.min_nivel.nivel_multiplicador }}" max="{{ factor.max_nivel.nivel_multiplicador }}" onkeypress="updateCalificacion(event, $(this))" />
                        {% endif %}
                    </td>
                    {% for nivel in factor.niveles.all %}
                        {% for pond in object.niveles_ponderacion.all %}
                            {% if factor.pk == pond.nivel.factor.pk and pond.nivel.pk == nivel.pk %}
                                <td id="cell_pond_{{ factor.pk }}" class="text-right">
                                    {{ pond }}
                                </td>
                                <td id="cell_pond_en_pesos_{{ factor.pk }}" class="text-right">
                                    {{ pond.ponderacion_en_pesos|floatformat:0|intcomma }}
                                </td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

</form>

<table>
    <tr>
        <td class="align-middle"><h5>Tabulador</h5></td>
        <td>
            <form method="post" autocomplete="off" enctype="multipart/form-data" id="tab-frm" action="">
                {% csrf_token %}
                <input type="hidden" id="califaction" name="califaction" value="change-tab" />
                <select id="tabulador" name="tabulador" class="form-control" onchange="$(`#tab-frm`).submit()">
                    {% for tabulador in tabuladores %}
                        <option value="{{ tabulador.pk }}" {% if tabulador.pk == object.tabulador.pk %}selected="selected"{% endif %}>{{ tabulador }}</option>
                    {% endfor %}
                </select>
            </form>
        </td>
    </tr>
</table>

<!-- Tabuladores -->
<table class="table_zd table-sm table-responsive">
    <thead>
        <tr>
            <th>Nivel</th>
            <th>Puntos</th>
            <th>Pesos</th>
        </tr>
    </thead>
    <tbody>
        {% for nivel in object.tabuladores %}
            <tr>
                <td class="text-center">{{ nivel.nivel.posicion }}</td>
                <td class="text-right">{{ nivel.puntos|floatformat:2|intcomma }}</td>
                <td class="text-right">$ {{ nivel.pesos|floatformat:2|intcomma }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">

    let autoUpdateCalificacion = () => {
        $('#califaction').val('autosave');
        $('#grading-frm').submit();
    }

    {% if last_ev %}

    let dataJob = {{ last_ev.data|safe }};

    let calculateVals = () => { me = [];
        let sum_ptos = 0;
        let sum_mny = 0;
        for(let factor of dataJob.factores) {
            let nivel = factor.niveles.filter(elem => elem.selected)[0];
            $(`#cell_pond_${factor.pk}`).html(`${parseInt(nivel.ponderacion)}`);
            $(`#cell_pond_en_pesos_${factor.pk}`).html(`${parseInt(nivel.ponderacion_en_pesos)}`);
            sum_ptos += nivel.ponderacion;
            sum_mny += nivel.ponderacion_en_pesos;
            $(`#txt_factor_${factor.pk}`).val(nivel.multiplicador);
        }
        $(`#cell_ponderacion_total`).html('<strong>' + parseInt(sum_ptos) + '</strong>');
        $(`#cell_ponderacion_en_pesos`).html('<strong>$ ' + parseInt(sum_mny)+ '</strong>');
    }

    {% endif %}

    let updateCalificacion = (event, txtbox) => {
        if([13].indexOf(event.keyCode) == -1) {
            return false;
        }
        let vmin = parseInt(txtbox.attr('min'));
        let vmax = parseInt(txtbox.attr('max'));
        let valor = parseInt(txtbox.val());
        let current_row = null;
        let current_factorid = parseInt(parseInt(txtbox.data('factorid')));
        let sum_ptos = 0;
        let sum_mny = 0;
        if(!(vmin <= valor && valor <= vmax)) {
            alert(`El valor debe ser entre ${vmin} y ${vmax}`);
            txtbox.select();
            return false;
        }
        $('#califaction').val('autosave');
        $.post(window.location.href, $("#grading-frm").serialize()).fail(function(result){console.log(result.responseText)});
        let txtinputs = $('#grading-frm td input.form-control');
        for(let x=0; x < txtinputs.length; x++) {
            let txtfactor = $(txtinputs[x]);
            let factorid = parseInt(txtfactor.data('factorid'));
            if( factorid == current_factorid) {
                current_row = x + 1;
            }
            let factor = factores.filter(elem => elem.id == factorid)[0];
            let nivel = factor.niveles.filter(elem => elem.nivel_multiplicador == parseInt(txtfactor.val()))[0];
            $(`#cell_pond_${factorid}`).html(`${parseInt(nivel.ponderacion)}`);
            $(`#cell_pond_en_pesos_${factorid}`).html(`${parseInt(nivel.ponderacion_en_pesos)}`);
            sum_ptos += nivel.ponderacion;
            sum_mny += nivel.ponderacion_en_pesos;
        }
        $(`#cell_ponderacion_total`).html('<strong>' + parseInt(sum_ptos) + '</strong>');
        $(`#cell_ponderacion_en_pesos`).html('<strong>$ ' + parseInt(sum_mny) + '</strong>');
        let tr = $(`#grading-frm table tbody tr:nth-child(${current_row + 1})`);
        if(tr.length > 0) {
            tr.find(`td input.form-control`).select();
        } else {
            $(`#grading-frm table tbody tr:nth-child(1)`).find(`td input.form-control`).select();
        }
    }

    let factores = {{ factores_json|safe }};

</script>

{% endblock %}
