{% extends "zend_django/html/html_struct.html" %}
{% load crispy_forms_tags %}
{% load op_helpers %}
{% load humanize %}

{% block content %}

<!--
forms = {
    'top': [{'title':'XXXX', 'form': form_object}, ...],
    'left': [...],
    'right': [...],
    'bottom': [...],
}

-->

<form method="post" autocomplete="off" enctype="multipart/form-data" id="main-form" action="">
    {% csrf_token %}

    {% if forms.top %}
    <div class="row">
        <div class="col-sm-8">
            <!-- forms.Top -->
            {% for form_obj in forms.top %}
                {% if form_obj.title %}<h5>{{ form_obj.title }}</h5>{% endif %}
                {{ form_obj.form | crispy }}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="row">

        {% if forms.left %}
        <div class="col-sm-4">
            <!-- forms.left -->
            {% for form_obj in forms.left %}
                {% if form_obj.title %}<h5>{{ form_obj.title }}</h5>{% endif %}
                {{ form_obj.form | crispy }}
            {% endfor %}
        </div>
        {% endif %}

        {% if forms.right %}
        <div class="col-sm-4">
            <!-- forms.right -->
            {% for form_obj in forms.right %}
                {% if form_obj.title %}<h5>{{ form_obj.title }}</h5>{% endif %}
                {{ form_obj.form | crispy }}
            {% endfor %}
        </div>
        {% endif %}

    </div>

    {% if forms.bottom %}
    <div class="row">
        <div class="col-sm-8">
            <!-- forms.bottom -->
            {% for form_obj in forms.bottom %}
                {% if form_obj.title %}<h5>{{ form_obj.title }}</h5>{% endif %}
                {{ form_obj.form | crispy }}
            {% endfor %}
        </div>
    </div>
    {% endif %}

</form>

<h5>Factores</h5>

<form method="post" autocomplete="off" enctype="multipart/form-data" id="grading-frm" action="">
    {% csrf_token %}
    <input type="hidden" id="califaction" name="califaction" value="" />
    <table class="table_zd table-sm table-responsive">
        <thead>
            <tr>
                <td></td>
                <td></td>
                <td id="cell_ponderacion_total" class="text-right">
                    <strong>{{ object.ponderacion_total|floatformat:0|intcomma }}</strong>
                </td>
                <td id="cell_ponderacion_en_pesos" class="text-right">
                    <strong>$ {{ object.ponderacion_total_en_pesos|floatformat:0|intcomma }}</strong>
                </td>
            </tr>
            <tr>
                <th>Factor</th>
                <th>Calificación</th>
                <th>Puntos</th>
                <th>Pesos</th>
            </tr>
        </thead>
        <tbody>
            {% for factor in factores %}
                <tr>
                    <td data-placement="right" data-toggle="tooltip" data-html="true" title="Niveles:{% for nivel in factor.niveles.all %}<br />{{ nivel.nivel_multiplicador }} - {{ nivel }}{% endfor %}">
                        {{ factor }}
                    </td>
                    <td>
                        <select onchange="autoUpdateCalificacion()" id="factor_{{ factor.pk }}" name="factor_{{ factor.pk }}" class="form-control">
                            {% if object.niveles_ponderacion.all %}
                                {% for nivel in factor.niveles.all %}
                                    {% for p in object.niveles_ponderacion.all %}
                                        {% if factor.pk == p.nivel.factor.pk %}
                                            <option value="{{ nivel.pk }}" {% if p.nivel.pk == nivel.pk %}selected="selected"{% endif %}>{{ nivel }}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% else %}
                                {% for nivel in factor.niveles.all %}
                                    <option value="{{ nivel.pk }}">{{ nivel }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </td>
                    {% for nivel in factor.niveles.all %}
                        {% for pond in object.niveles_ponderacion.all %}
                            {% if factor.pk == pond.nivel.factor.pk and pond.nivel.pk == nivel.pk %}
                                <td id="cell_pond_{{ factor.pk }}" class="text-right">
                                    {{ pond }}
                                </td>
                                <td id="cell_pond_en_pesos_{{ factor.pk }}" class="text-right">
                                    {{ pond.ponderacion_en_pesos|floatformat:0|intcomma }}
                                </td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

</form>

<h5>Tabulador: {{ object.tabulador }}</h5>

<table class="table_zd table-sm table-responsive">
    <thead>
        <tr>
            <th>Nivel</th>
            <th>Puntos</th>
            <th>Pesos</th>
        </tr>
    </thead>
    <tbody>
        {% for nivel in object.tabuladores %}
            <tr>
                <td class="text-center">{{ nivel.nivel.posicion }}</td>
                <td class="text-right">{{ nivel.puntos|floatformat:2|intcomma }}</td>
                <td class="text-right">$ {{ nivel.pesos|floatformat:2|intcomma }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">

    let autoUpdateCalificacion = () => {
        $('#califaction').val('autosave');
        $('#grading-frm').submit();
    }

    {% if last_ev %}

    let dataJob = {{ last_ev.data|safe }};

    let calculateVals = () => { me = [];
        let sum_ptos = 0;
        let sum_mny = 0;
        for(let factor of dataJob.factores) {
            $(`#factor_${factor.pk}`).val(factor.nivel_selected);
            let nivel = factor.niveles.filter(elem => elem.selected)[0];
            $(`#cell_pond_${factor.pk}`).html(`${nivel.ponderacion.asMoneyWComma()}`);
            $(`#cell_pond_en_pesos_${factor.pk}`).html(`\$ ${nivel.ponderacion_en_pesos.asMoneyWComma()}`);
            sum_ptos += nivel.ponderacion;
            sum_mny += nivel.ponderacion_en_pesos;
        }
        $(`#cell_ponderacion_total`).html(sum_ptos.asMoneyWComma());
        $(`#cell_ponderacion_en_pesos`).html('$ ' + sum_mny.asMoneyWComma());
    }

    {% endif %}

</script>



{% endblock %}
