{% load static %}
{% load mainopc_helpers %}
{% load parametros_helpers %}
{% load favorito_helpers %}
<!-- main_menu.html (Open) -->

{% parametro_de_usuario seccion='general' nombre='open_left_menu' username=user as menu_abierto %}
{% parametro_de_sistema seccion='SitioGeneral' nombre='left_bar_width' as ancho_barra_menu %}
{% if user.is_authenticated %}

<script type="text/javascript">
let ancho_barra_menu = {{ ancho_barra_menu }};
</script>

{% if menu_abierto == "True" %}

    <nav id="top-main-menu" class="navbar navbar-light bg-light">
        <div class="top-main-menu-section">
            <button id="btn-opener" onclick="setLeftMenuOpc('True')" class="btn btn-outline-secondary btn-sm" type="button" data-toggle="canvas" data-target="#bs-canvas-left" aria-expanded="true" aria-controls="bs-canvas-left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-angle-right"></i>
            </button>
            <div id="main-navbar-title" class="navbar-brand" style="margin-left: {{ ancho_barra_menu }}px;">
            </div>
        </div>
        <!--<a class="navbar-brand" href="{% url 'session_imin' %}">
            <img src="{{ MEDIA_URL }}{% parametro_de_sistema seccion='SitioGeneral' nombre='main_toolbar_logo' %}" class="d-inline-block align-top" height="30" />
        </a>-->
        <div class="top-main-menu-section">
        </div>
        <div class="top-main-menu-section">
            <table>
                <tr>
                    <td>
                        <form class="form-inline" id="finder" method="post" autocomplete="off">
                        </form>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="User Toolbar">
                            <button class="btn btn-outline-secondary fav-in d-none" type="button" title="Eliminar de Favoritos" onclick="MisFavs.delFav()">
                                <i class="fas fa-star"></i>
                            </button>
                            <button class="btn btn-outline-secondary fav-out d-none" type="button" title="Agregar a Favoritos" onclick="MisFavs.add2()">
                                <i class="far fa-star"></i>
                            </button>
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="btn-extra-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <ul id="cntr-extra-actions" class="dropdown-menu dropdown-menu-right" aria-labelledby="btn-extra-actions">
                                    <div id="eff-arrow"></div>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </nav>
    <div id="bs-canvas-left" class="bs-canvas bs-canvas-anim bs-canvas-left position-fixed bg-dark text-light h-100" data-offset="true" data-overlay="false" style="width: {{ ancho_barra_menu }}px;">
        <header class="p-3 h6">
            <button onclick="setLeftMenuOpc('False')" type="button" class="bs-canvas-close close btn-sm" aria-label="Close" aria-expanded="true">
                <span aria-hidden="true" class="text-light">
                    <i class="fas fa-angle-left"></i>
                    <i class="fas fa-bars"></i>
                </span>
            </button>
            <a href="{% url 'session_imin' %}" style="color: inherit;">
                {% parametro_de_sistema seccion='SitioGeneral' nombre='site_name' %}
            </a>
        </header>
        <hr />
        <div id="vertical-left-menu-content">
            <div class="p-3 h6" id="left-mnu-app-name">{% get_tereapp_name tereapp %}</div>
            <nav id="main-menu" class="nav flex-column">
                {% main_menu tereapp=tereapp %}
            </nav>
        </div>
        <hr />
        <div id="vertical-left-favs-content">
            <div class="p-3 h6">
                <i class="fas fa-star"></i>
                Favoritos
            </div>
            <nav id="favs-menu" class="nav flex-column">
                {% display_main_menu_fav_links 'nav-link text-light' %}
            </nav>
            {% get_hidden_tereapps %}
        </div>
    </div>

{% else %}

    <nav id="top-main-menu" class="navbar navbar-light bg-light">
        <div class="top-main-menu-section">
            <button id="btn-opener" onclick="setLeftMenuOpc('True')" class="btn btn-outline-secondary btn-sm" type="button" data-toggle="canvas" data-target="#bs-canvas-left" aria-expanded="false" aria-controls="bs-canvas-left">
                <i class="fas fa-bars"></i>
                <i class="fas fa-angle-right"></i>
            </button>
            <div id="main-navbar-title" class="navbar-brand">
            </div>
        </div>
        <!--<a class="navbar-brand" href="{% url 'session_imin' %}">
            <img src="{{ MEDIA_URL }}{% parametro_de_sistema seccion='SitioGeneral' nombre='main_toolbar_logo' %}" class="d-inline-block align-top" height="30" />
        </a>-->
        <div class="top-main-menu-section">
        </div>
        <div class="top-main-menu-section">
            <table>
                <tr>
                    <td>
                        <form class="form-inline" id="finder" method="post" autocomplete="off">
                        </form>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="User Toolbar">
                            <button class="btn btn-outline-secondary fav-in d-none" type="button" title="Eliminar de Favoritos" onclick="MisFavs.delFav()">
                                <i class="fas fa-star"></i>
                            </button>
                            <button class="btn btn-outline-secondary fav-out d-none" type="button" title="Agregar a Favoritos" onclick="MisFavs.add2()">
                                <i class="far fa-star"></i>
                            </button>
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="btn-extra-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <ul id="cntr-extra-actions" class="dropdown-menu dropdown-menu-right" aria-labelledby="btn-extra-actions">
                                    <div id="eff-arrow"></div>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </nav>
    <div id="bs-canvas-left" class="bs-canvas bs-canvas-anim bs-canvas-left position-fixed bg-dark text-light h-100" data-offset="true" data-overlay="false">
        <header class="p-3 h6">
            <button onclick="setLeftMenuOpc('False')" type="button" class="bs-canvas-close close btn-sm" aria-label="Close">
                <span aria-hidden="true" class="text-light">
                    <i class="fas fa-angle-left"></i>
                    <i class="fas fa-bars"></i>
                </span>
            </button>
            <a href="{% url 'session_imin' %}" style="color: inherit;">
                {% parametro_de_sistema seccion='SitioGeneral' nombre='site_name' %}
            </a>
        </header>
        <hr />
        <div id="vertical-left-menu-content">
            <div class="p-3 h6" id="left-mnu-app-name">{% get_tereapp_name tereapp %}</div>
            <nav id="main-menu" class="nav flex-column">
                {% main_menu tereapp=tereapp %}
            </nav>
        </div>
        <hr />
        <div id="vertical-left-favs-content">
            <div class="p-3 h6">
                <i class="fas fa-star"></i>
                Favoritos
            </div>
            <nav id="favs-menu" class="nav flex-column">
                {% display_main_menu_fav_links 'nav-link text-light' %}
            </nav>
            {% get_hidden_tereapps %}
        </div>
    </div>

{% endif %}

{% endif  %}

<script type="text/javascript">
    let leftMenu_url = "{% url 'parametrousuario_setvalue' %}";
    let leftMenu_user = "{{ user }}";

    let set_mis_favs_url = "{% url 'fav_set' %}";
    let get_mis_favs_url = "{% url 'fav_get' %}";
    let del_mis_favs_url = "{% url 'fav_del' %}";
</script>
<div id="csrf_token">
    {% csrf_token %}
</div>

<!-- main_menu.html (Close) -->
