{% load static %}
{% load mainopc_helpers %}
{% load parametros_helpers %}
<!-- main_menu.html (Open) -->
{% if user.is_authenticated %}


<nav id="top-main-menu" class="navbar navbar-light bg-light">
    <button onclick="setLeftMenuOpc('True')" class="btn btn-outline-secondary" type="button" data-toggle="canvas" data-target="#bs-canvas-left" aria-expanded="false" aria-controls="bs-canvas-left">
        <i class="fas fa-bars"></i>
        <i class="fas fa-angle-right"></i>
    </button>
    <a class="navbar-brand" href="{% url 'session_imin' %}">
        <img src="{{ MEDIA_URL }}{% parametro_de_sistema seccion='SitioGeneral' nombre='main_toolbar_logo' %}" class="d-inline-block align-top" height="30" />
    </a>
    <form class="form-inline" id="finder" method="post" autocomplete="off">
    </form>
</nav>

<div id="bs-canvas-left" class="bs-canvas bs-canvas-anim bs-canvas-left position-fixed bg-dark text-light h-100" data-offset="true" data-overlay="false">
    <header class="p-3 h4">
        <button onclick="setLeftMenuOpc('False')" type="button" class="bs-canvas-close close" aria-label="Close">
            <span aria-hidden="true" class="text-light">
                <!--&times;-->
                <i class="fas fa-angle-left"></i>
                <i class="fas fa-bars"></i>
            </span>
        </button>
        {% parametro_de_sistema seccion='SitioGeneral' nombre='site_name' %}
    </header>
    <div id="vertical-left-menu-content" class="">
        <nav id="main-menu" class="nav flex-column">
            {% main_menu %}
        </nav>
    </div>
</div>
{% endif  %}

<script type="text/javascript">
    let leftMenu_url = "{% url 'parametrousuario_setvalue' %}";
    let leftMenu_user = "{{ user }}";
    let leftMenu_display = "{% parametro_de_usuario seccion='general' nombre='open_left_menu' username=user %}";
</script>
<div id="csrf_token">
    {% csrf_token %}
</div>
<!-- main_menu.html (Close) -->
